body{
    background-color: #0A192fd9;
    font-family: 'Roboto Mono', sans-serif;
}

.about{
    position: fixed;
    top: 30%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.hello{
    font-size: 16px;
    color: #64ffda;
    margin-bottom: -20px;
}

.name{
    font-size: 70px;
    color: #fff;
    margin-bottom: 20px;
}

.paragraph{
    font-size: 16px;
    color: #8892b0;
    width: 50%;
    padding: 0;
    margin: 0;
}

.paragraph_a{
    font-size: 16px;
    color: #8892b0;
    width: 50%;
    padding: 0 0 0 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    
}

.emphasis{
    color: #64ffda;
}